<html>
	<head>
		<title>Welcome to My Hood!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/rdio-utils.css">
    <link rel="stylesheet" type="text/css" href="../static/leaflet-0.6.4/leaflet.css">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="//www.rdio.com/api/api.js?client_id=g9i2ZgQIqpvP1dmguehIxw"></script>

    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/modernizr.touch.js"></script>
    <script src="../static/js/underscore-1.4.4.min.js"></script>
  		<script src="../static/js/rdio-utils.js"></script>
  		<script src="../static/js/welcome.js"></script>
  		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	</head>
	<body>
		<button id="signin" class="btn btn-danger btn-large"><i class="icon-white icon-user"></i> Sign In to rDio!</button>
	</body>
</html>